h1 {
    color: blue;
    text-align: center;
  }
h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
p {
    font-family: sans-serif;
  }
ul {
    line-height: 40px;
  }
body {
    background-color: rgb(54, 53, 53);
    color: azure;
    font-size: large;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;

}  
img{
    height: 400px;
    width: 500px;
    border-radius: 5px;
}